{{ define "main"}}

<section class="section contact-form">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>{{.Title | markdownify}}</h3>
					<p>{{ .Params.description | markdownify }}</p>
				</div>
			</div>
		</div>
		<form action="{{site.Params.contact_form_action}}" class="row">
			<div class="col-md-6">
				<input type="text" class="form-control main" name="name" id="name" placeholder="Name">
			</div>
			<div class="col-md-6">
				<input type="email" class="form-control main" name="email" id="email" placeholder="Email">
			</div>
			<div class="col-md-12">
				<input type="text" class="form-control main" name="phone" id="phone" placeholder="Phone">
			</div>
			<div class="col-md-12">
				<textarea name="message" id="message" class="form-control main" rows="10" placeholder="Your Message"></textarea>
			</div>
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-main-md">Send Message</button>
			</div>
		</form>
	</div>
</section>

<section>
	<div class="container" >
		<div style="padding-bottom:80px">
			<h4>Azure Cloud</h4>
			<h5>Norwegian Azure User Groups</h5>
			<p class="fa fa-male" style="padding: 5px;"><span style="margin-left: 10px;">Sven Malvik (Hovedkontakt)</span></p><br>
			<p class="fa fa-home" style="padding: 5px;"><span style="margin-left: 10px;">Oslo, Norway</span></p><br>
			<p class="fa fa-phone" style="padding: 5px;"><span style="margin-left: 10px;">+47 948 225 79</span></p><br>
			<p class="fa fa-envelope" style="padding: 5px;"><span style="margin-left: 10px;">mail @ azurecloud.no</span></p><br>		
		</div>

	</div>
</section>

{{ end }}